@import
url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display:400,600");

body, html{
    background-color: #e6e6e6;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    height:100%;
}

/*Global*/
.container{
  height: 100%;
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

#homepage{
  color: #222;
  height: 100%;
  background: #e6e6e6;
}

#projects{
  color: #222;
  height: 100%;
  background: #e6e6e6;
}

#contact{
  color: #e6e6e6;
  height: 100%;
  background: #153454;
}

body .container h1{
  margin: 100px;
  padding: 0;
  font-size: 2em;
}

header {
  background: #153454;
  text-align: center;
  position:fixed;
  z-index: 999;
  width: 100%;
}

.logo{
  color: #e6e6e6;
  font-size: 2em;
  margin-top: .6em;
  margin-bottom: .6em;
}

/* Active nav link hover */
.active{
  font-weight: bold;
  font-style: italic;
  text-shadow: .1px .1px #FFFFFF;
}

nav {
  position: absolute;
  text-align:left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}

nav li{
  margin-left: 1em;
  margin-bottom: 1em;
}

nav a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #f5f5f5;
}

/*CONTENT STARTS HERE*/
.caption{
  position: relative;
  bottom: 5em;
}

.grad{
  bottom: 5em;
  position: relative;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.gradcap{
  position: relative;
  bottom: 4.5em;
}

#resbut{
  border: none;
  position: relative;
  bottom: 7em;
}

#resbut:hover{
  border-top: 3px solid #bc487f;
  background-color:#bc487f;
}

.rescap{
  position: relative;
  bottom: -20em;
}

textarea{
  resize: none;
}

.contact-form{
  width: 60%;
  max-width: 300px;
  background: #f95d6a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Roboto Condensed",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.conform{
  border:1px solid #e6e6e6;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.conform label{
  display: block;
  text-align: left;
  color: #e6e6e6;
  text-transform: uppercase;
  font-size: 14px;
}
.conform input,.conform textarea{
  color: #e6e6e6;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.button{
  display: inline-block;
  background: #f95d6a;
  padding: 14px 0;
  color: #e6e6e6;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 20%;
}

.button:hover{
  background: #ff7c43;
}

.contactme{
  text-align: left;
}

a{
  color: #ff7c43;
  text-decoration: none;
}

/*For tablets and phones*/
@media screen and (min-width: 760px){
  .nav-toggle-label{
    display: none;
  }


  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo{
    grid-column: 2 / 3;
  }

  nav{
    all:unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

  nav ul{
    display: flex;
  }

  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity: 1;
    position: relative;
  }
