@import
url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display:400,600");

body, html{
    background-color: #fffae8;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    height:100%;
}

/*Global*/
.container{
  height: 100%;
  max-width: 80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  display: block;
}

#homepage{
  color: #222;
  height: 100%;
  background: #fffae8;
}

#projects{
  color: #222;
  height: 100%;
  background: #fffae8;
}

#contact{
  color: #222;
  height: 100%;
  background: #fffae8;
}

body .container h1{
  margin: 100px;
  padding: 0;
  font-size: 2em;
}

header {
  background: #fffae8;
  text-align: center;
  position:fixed;
  z-index: 999;
  width: 100%;
}

.logo{
  color: #222;
  font-size: 2em;
  margin-top: .6em;
  margin-bottom: .6em;
}

/* Active nav link hover */
.active{
  font-weight: bold;
}

nav {
  position: absolute;
  text-align:left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}

nav li{
  margin-left: 1em;
  margin-bottom: 1em;
}

nav a {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  text-decoration: underline;
}

/*CONTENT STARTS HERE*/
.caption{
  position: relative;
  bottom: 5em;
}

.grad{
  bottom: 5em;
  position: relative;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.gradcap{
  position: relative;
  bottom: 4.5em;
}

#resbut{
  border: none;
  position: relative;
  bottom: 7em;
}

#resbut:hover{
  border-top: 3px solid #ffc684;
  background-color:#ffc684;
  cursor: pointer;
}

.rescap{
  position: relative;
  bottom: -20em;
}

/*Project section*/
.projone{
  max-width: 30%;
}
.projonecap{
  display: relative;
  text-align: center;
  background-color: #222;
  color: #fffae8;
  margin-top: auto;
}

/*For tablets and phones*/
@media screen and (min-width: 800px){
  .nav-toggle-label{
    display: none;
  }
/*For smaller displays*/

  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo{
    grid-column: 2 / 3;
  }

  nav{
    all:unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

  nav ul{
    display: flex;
  }

  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity: 1;
    position: relative;
  }
}