@import
url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display:400,600");

body, html{
    background-color: #86B2C5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    height:100%;
}

/*Global*/
.container{
  height: 100%;
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

#homepage{
  height: 100%;
  background: #86B2C5;
}

#projects{
  height: 100%;
  background: #578AA0;
}

#contact{
  height: 100%;
  background: #38718A;
}

body .container h1{
  color: #222;
  margin: 100px;
  padding: 0;
  font-size: 2em;
}

header {
  background: #222;
  text-align: center;
  position:fixed;
  z-index: 999;
  width: 100%;
}

.logo{
  color: #ADADAD;
  font-size: 2em;
  margin-top: .6em;
  margin-bottom: .6em;
}

.nav-toggle{
  position: absolute;
  top:-9999px;
  left:-9999px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}
.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background:white;
  height: 2px;
  width: 2em;
  border-radius:2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}

/* Active nav link hover */
.active{
  font-weight: bold;
  font-style: italic;
  text-shadow: .1px .1px #FFFFFF;
}

nav {
  position: absolute;
  text-align:left;
  top: 100%;
  left: 0;
  background: #222;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

nav{
  
}

nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}

nav li{
  margin-left: 1em;
  margin-bottom: 1em;
}

nav a {
  color: #ADADAD;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #CFCECE;
}

.nav-toggle:checked ~ nav{
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 100ms;
}

/*For tablets and phones*/
@media screen and (min-width: 1000px){
  .nav-toggle-label{
    display: none;
  }


  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo{
    grid-column: 2 / 3;
  }

  nav{
    all:unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

  nav ul{
    display: flex;
  }

  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity: 1;
    position: relative;
  }

  /*
  nav a::before{
    content: '';
    display: block;
    height: 5px;
    background: #444;
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
*/

/*linking hover to cheeseburger nav*/
  nav a:hover::before{
    transform: scale(1,1);
  }
