/* background */
.topnav {
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

/* link style */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

/* link color hover */
.topnav a:hover {
  color: orange;
}

body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  url("jasonnyc.jpg");
  height: 70%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 75%;
  position: relative;


}

.hero-text {
  text-align: center;
  text-transform: none;
  z-index: 0;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.container {
  float: right;
  position: absolute;
  margin: 20px;
  width: auto;
}

h3{
  position: relative;
  top: 500px;
  text-align: center;
  text-transform: none;
  z-index: 0;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

p{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 500px;
  text-align: center;
  text-transform: none;
  z-index: 0;
  width: 50%;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.contact{
  position: relative;
  top: 300px;
  text-align: center;
  text-transform: none;
  z-index: 0;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/*
.projects {
  postion: relative;
  text-align: center;
  top: 1000px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
*/

 body {
   background-color: #262626;
   background: linear-gradient(180deg, #333333 25%, #595959 50%, #262626 50%);
   padding: 0;
   margin: 0;
 }
