@import
url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display:400,600");

html {
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
}

body, htmls {
    padding: 10px;
    background-color: #e6e6e6;
    height: 100%;
}

a{
  color: #222;
  text-decoration: none;
}

a:hover{
  color: #ffc684;
  cursor: pointer;
  -webkit-text-stroke-color: #222;
  -webkit-text-stroke-width: 1px;
}

#emoji-container {
    margin: 40px;
    text-align: center;
}

#emoji-container span {
    margin: 10px;
    font-size: 60px;
}

#push-btn,#unshift-btn {
    background-color: #80D87F;
}

#shift-btn,#pop-btn {
    background-color: #E23349;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: #222;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 4px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}
