@import
url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display:400,600");

body, html{
  background-color: #e6e6e6;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container{
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #e6e6e6;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;

}

#color{
  height: 100%;
}

#search{
  height: 100%;
  overflow: hidden;
}

.logo{
  color: #222;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  margin-top: auto;
  text-decoration: none;
}

.logo:visited{
  color: #222;
}

.logo:hover{
  color: #222;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.boxred{
  position: absolute;
  width: 16.7%;
  height: 100%;
  background-color: #FF6663;
  cursor: pointer;
}

.boxred:hover{
  background-color: #f93644;
}

.boxorange{
  position: absolute;
  left: 16.7%;
  width: 16.7%;
  height: 100%;
  background-color: #feb144;
  cursor: pointer;
}

.boxorange:hover{
  background-color: #ff9230;
}

.boxyellow{
  position: absolute;
  left: 33.4%;
  width: 16.7%;
  height: 100%;
  background-color: #fdfd97;
  cursor: pointer;
}

.boxyellow:hover{
  background-color: #ffeb48;
}

.boxgreen{
  position: absolute;
  left: 50%;
  width: 16.7%;
  height: 100%;
  background-color: #9ee09e;
  cursor: pointer;
}

.boxgreen:hover{
  background-color: #97d151;
}

.boxblue{
  position: absolute;
  left: 66.6%;
  width: 16.7%;
  height: 100%;
  background-color: #9ec1cf;
  cursor: pointer;
}

.boxblue:hover{
  background-color: #1299e2;
}

.boxviolet{
  position: absolute;
  left: 83.3%;
  width: 16.7%;
  height: 100%;
  background-color: #CC99C9;
  cursor: pointer;
}

.boxviolet:hover{
  background-color: #9032d1;
}
